repos:
  - repo: local
    hooks:
      - id: build-resources
        name: Build resources
        entry: poetry run python -m builder
        require_serial: true
        language: system

  - repo: https://github.com/psf/black
    rev: 21.10b0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        entry: pflake8
        additional_dependencies: [pyproject-flake8]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: (?x)(^.*/.*\.svg$)
      - id: check-yaml
      - id: check-added-large-files
