---
ci:
  autofix_prs: false
repos:
  - repo: local
    hooks:
      - id: build-styles
        name: Build styles
        entry: python -m tools.build_styles
        language: python
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: \.svg$
      - id: pretty-format-json
        args: ["--autofix", "--no-sort-keys"]
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: name-tests-test
        args: [--pytest-test-first]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.2
    hooks:
      - id: markdownlint
        args: [--disable, MD013]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.28.0
    hooks:
      - id: yamllint

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.19.1
    hooks:
      - id: check-jsonschema
        name: Validate color map json files with json schema
        files: ^style/colors
        exclude: ^style/colors/validate.json$
        args: ["--schemafile", "style/colors/validate.json"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black]

  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        entry: pflake8
        additional_dependencies: &flake8_dependencies
          - pyproject-flake8
          - pep8-naming
          - flake8-pie
          - flake8-print
          - flake8-return
          - flake8-simplify
          - flake8-bugbear
          - flake8-docstrings
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-rst-docstrings
          - flake8-pytest-style

  - repo: https://github.com/asottile/yesqa
    rev: v1.4.0
    hooks:
      - id: yesqa
        additional_dependencies: *flake8_dependencies

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

# This hook has bug on Windows.
# See https://github.com/RobertCraigie/pyright-python/issues/45
# Run pyright with GitHub actions until this bug is resolved.

#   - repo: https://github.com/RobertCraigie/pyright-python
#     rev: v1.1.279
#     hooks:
#     - id: pyright
#       additional_dependencies:
#         - PyQt6
#         - darkdetect
#         - pytest
#         - pytest-qt
