---
ci:
  # Replace use some hooks of pre-commit.ci with our own github actions.
  # See https://github.com/pre-commit-ci/issues/issues/55.
  skip: ['pyright']
repos:
  - repo: local
    hooks:
      - id: build-styles
        name: Build styles
        entry: python -m tools.build_styles
        language: python
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: \.svg$
      - id: pretty-format-json
        args: ["--autofix", "--no-sort-keys"]
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: name-tests-test
        args: [--pytest-test-first]

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.5.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.19.1
    hooks:
      - id: check-jsonschema
        name: Validate color map json files with json schema
        files: ^style/colors
        exclude: ^style/colors/validate.json$
        args: ["--schemafile", "style/colors/validate.json"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black]

  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        entry: pflake8
        additional_dependencies: &flake8_dependencies
          - pyproject-flake8
          - pep8-naming
          - flake8-pie
          - flake8-print
          - flake8-return
          - flake8-simplify
          - flake8-bugbear
          - flake8-docstrings
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-rst-docstrings
          - flake8-pytest-style

  - repo: https://github.com/asottile/yesqa
    rev: v1.4.0
    hooks:
      - id: yesqa
        additional_dependencies: *flake8_dependencies

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: python
        pass_filenames: false
        types: [python]
        additional_dependencies: ['pyright', 'PyQt6', 'darkdetect', 'pytest', 'pytest-qt']
